html, body {
    margin: 0px;
    padding: 8px;
    width: 96%;
}

body, p {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 96%;
    height: auto;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-justify: inter-word;
}
